{% extends 'base.html.twig' %}
{% block body %}
    <div class="row"> 
        <a href="/" class="btn btn-danger">Back to main</a>
    </div>
    <h1 class="text-center mt-5"> Detail for {{user.fullName}} </h1>
<div class="table-responsive">
<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">User ID</th>
      {% if user.googleplus_picture %}
      <th scope="col">User Avatar</th>
      {% endif %}
      <th scope="col">User Name</th>
      <th scope="col">Email</th>
      <th scope="col">User Role</th>
      {% if is_granted('ROLE_ADMIN') %}
      <th scope="col">Handle</th>
       {% endif %}
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{user.id}}</th>
      {% if user.googleplus_picture %}
      <td><img src="{{user.googleplus_picture}}" width="30" height="30" class="img-fluid" alt="Responsive image">
      </td>
      {% endif %}
      <td>{{user.fullName}}</td>
      <td>{{user.email}}</td>
      <td>{{ user.roles|first }}</td>   
      {% if is_granted('ROLE_ADMIN') %}
			<td>
        <ul class="list-inline">
					<li class="list-inline-item">
            <a href="/crud/edit/{{user.id}}" class="btn btn-sm btn-success">Edit</a>
          </li>
          <li class="list-inline-item">
            <a href="/crud/delete/{{user.id}}" class="btn btn-sm btn-danger">Delete</a>
          <li>

        </ul>
      </td>
      {% endif %}
      
    </tr>
  </tbody>
</table>
</div>
{% endblock %}